<html lang="en">
    <head>
        <h1>Recipe Book</h1>
        <h3>{% block page_title %}{% endblock %}</h3>
    </head>
    <body>
        <div>
            {% block content %}{% endblock %}
        </div>
        {% if user.is_authenticated %}
            <br>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <br>
            <a href="{% url 'login' %}">Login </a>
        {% endif %}
    </body>
</html>